html {
  height: 100%;
}



.calculatorBody {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px; /* Set a fixed width */
    height: 900px; /* Set a fixed height */

    box-sizing: border-box; /* Include padding and border in the element's total width and height */
   display: flex;   

   flex-direction: column;
   justify-content: space-between;


  }

  .row1 {
    display: flex;
    justify-content: space-around;
  }

  .row2 {
    display: flex;
    justify-content: space-around;
  }

  .row3 {
    display: flex;
    justify-content: space-around;
  }

  .row4 {
    display: flex;
    justify-content: space-around;
  }

  .row5 {
    display: flex;
    justify-content: space-around;
  }

  .rowOneButton,
  .rowTwoButton,
  .rowThreeButton,
  .rowFourButton,
  .rowFiveButton {
   

    width: 100%;
    padding: 56px;
  }



.calculatorDisplay {

  border: black solid;
  padding: 100px;
}

#calculatorResults {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
}

#longEquals {
  height: 100px;
}